


h1{
    text-align: center;
}




#v4{
    position: relative;
    left: 700px;
}

#v1{
    position: relative;
    top: 253px;
    left: 270px;
}

#v2{
    position: relative;
    right: 134px;
}

#v3{
    position: relative;
    right: 108px;
}

